#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}

# GOMAXPROCS={{ ansible_processor_vcpus | default(ansible_processor_count) }}

user="{{ grafana_system_user }}"
group="{{ grafana_system_group }}"

command_args="
{% if grafana_service is defined %}
{% endif %}
  --config {{ grafana_config_dir }}/grafana.conf
"
