#################################### Alerting ############################
[alerting]
# Disable legacy alerting engine & UI features

# force migration will run migrations that might cause dataloss
{% if grafana_alerting.enabled is defined %}
enabled = {{ grafana_alerting.enabled | bool | ternary('true', 'false') }}
{% endif %}

# Makes it possible to turn off alert execution but alerting UI is visible
{% if grafana_alerting.execute_alerts is defined %}
execute_alerts = {{ grafana_alerting.execute_alerts | bool | ternary('true', 'false') }}
{% endif %}

# Default setting for new alert rules. Defaults to categorize error and timeouts as alerting. (alerting, keep_state)
{% if grafana_alerting.error_or_timeout is defined and
      grafana_alerting.error_or_timeout | string | length > 0 and
      grafana_alerting.error_or_timeout in ["alerting", "keep_state"] %}
error_or_timeout = {{ grafana_alerting.error_or_timeout }}
{% endif %}

# Default setting for how Grafana handles nodata or null values in alerting. (alerting, no_data, keep_state, ok)
{% if grafana_alerting.nodata_or_nullvalues is defined and
      grafana_alerting.nodata_or_nullvalues | string | length > 0 and
      grafana_alerting.nodata_or_nullvalues in ["alerting", "no_data", "keep_state", "ok"] %}
nodata_or_nullvalues = {{ grafana_alerting.nodata_or_nullvalues }}
{% endif %}

# Alert notifications can include images, but rendering many images at the same time can overload the server
# This limit will protect the server from render overloading and make sure notifications are sent out quickly
{% if grafana_alerting.concurrent_render_limit is defined and
      grafana_alerting.concurrent_render_limit | string | length > 0 %}
concurrent_render_limit =  {{ grafana_alerting.concurrent_render_limit }}
{% endif %}

# Default setting for alert calculation timeout. Default value is 30
{% if grafana_alerting.evaluation_timeout_seconds is defined and
      grafana_alerting.evaluation_timeout_seconds | string | length > 0 %}
evaluation_timeout_seconds =  {{ grafana_alerting.evaluation_timeout_seconds }}
{% endif %}

# Default setting for alert notification timeout. Default value is 30
{% if grafana_alerting.notification_timeout_seconds is defined and
      grafana_alerting.notification_timeout_seconds | string | length > 0 %}
notification_timeout_seconds =  {{ grafana_alerting.notification_timeout_seconds }}
{% endif %}

# Default setting for max attempts to sending alert notifications. Default value is 3
{% if grafana_alerting.max_attempts is defined and
      grafana_alerting.max_attempts | string | length > 0 %}
max_attempts =  {{ grafana_alerting.max_attempts }}
{% endif %}

# Makes it possible to enforce a minimal interval between evaluations, to reduce load on the backend
{% if grafana_alerting.min_interval_seconds is defined and
      grafana_alerting.min_interval_seconds | string | length > 0 %}
min_interval_seconds =  {{ grafana_alerting.min_interval_seconds }}
{% endif %}

# Configures for how long alert annotations are stored. Default is 0, which keeps them forever.
# This setting should be expressed as a duration. Examples: 6h (hours), 10d (days), 2w (weeks), 1M (month).
{% if grafana_alerting.max_annotation_age is defined and
      grafana_alerting.max_annotation_age | string | length > 0 %}
max_annotation_age =  {{ grafana_alerting.max_annotation_age }}
{% endif %}

# Configures max number of alert annotations that Grafana stores. Default value is 0, which keeps all alert annotations.
{% if grafana_alerting.max_annotations_to_keep is defined and
      grafana_alerting.max_annotations_to_keep | string | length > 0 %}
max_annotations_to_keep =  {{ grafana_alerting.max_annotations_to_keep }}
{% endif %}
