
##################### Grafana Configuration Example #####################
#
# Everything has defaults so you only need to uncomment things you want to
# change

# possible values : production, development
{% if grafana_general.app_mode is defined and
      grafana_general.app_mode | string | length > 0 and
      grafana_general.app_mode in ["production", "development"] %}
app_mode = {{ grafana_general.app_mode }}
{% endif %}

# instance name, defaults to HOSTNAME environment variable value or hostname if HOSTNAME var is empty
{% if grafana_general.instance_name is defined and
      grafana_general.instance_name | string | length > 0 %}
instance_name =  {{ grafana_general.instance_name }}
{% endif %}

# force migration will run migrations that might cause dataloss
{% if grafana_general.force_migration is defined %}
force_migration = {{ grafana_general.force_migration | bool | ternary('true', 'false') }}
{% endif %}
