
[plugin.grafana-image-renderer]
;rendering_timezone =
;rendering_language =
;rendering_viewport_device_scale_factor =
;rendering_ignore_https_errors =
;rendering_verbose_logging =
;rendering_dumpio =
;rendering_args =
;rendering_chrome_bin =
;rendering_mode =
;rendering_clustering_mode =
;rendering_clustering_max_concurrency =
;rendering_clustering_timeout =
;rendering_viewport_max_width =
;rendering_viewport_max_height =
;rendering_viewport_max_device_scale_factor =
;grpc_host =
;grpc_port =
