
[server]
{% if grafana_server.protocol is defined and
      grafana_server.protocol | string | length > 0 and
      grafana_server.protocol in ["http", "https", "h2", "socket"] %}
protocol = {{ grafana_server.protocol }}
{% endif %}
{% if grafana_server.http_addr is defined and
      grafana_server.http_addr | string | length > 0 %}
http_addr = {{ grafana_server.http_addr }}
{% endif %}
{% if grafana_server.http_port is defined and
      grafana_server.http_port | string | length > 0 %}
http_port = {{ grafana_server.http_port }}
{% endif %}
{% if grafana_server.domain is defined and
      grafana_server.domain | string | length > 0 %}
domain = {{ grafana_server.domain }}
{% endif %}
{% if grafana_server.enforce_domain is defined %}
enforce_domain = {{ grafana_server.enforce_domain | bool | ternary('true', 'false') }}
{% endif %}
{% if grafana_server.root_url is defined and
      grafana_server.root_url | string | length > 0 %}
root_url =  {{ grafana_server.root_url }}
{% endif %}
{% if grafana_server.serve_from_sub_path is defined %}
serve_from_sub_path = {{ grafana_server.serve_from_sub_path | bool | ternary('true', 'false') }}
{% endif %}
{% if grafana_server.router_logging is defined %}
router_logging = {{ grafana_server.router_logging | bool | ternary('true', 'false') }}
{% endif %}
{% if grafana_server.static_root_path is defined and
      grafana_server.static_root_path | string | length > 0 %}
static_root_path = {{ grafana_server.static_root_path }}
{% endif %}
{% if grafana_server.enable_gzip is defined %}
enable_gzip = {{ grafana_server.enable_gzip | bool | ternary('true', 'false') }}
{% endif %}
{% if grafana_server.protocol == "https" and
      grafana_server.cert_file is defined and
      grafana_server.cert_key is defined and
      grafana_server.cert_file | string | length > 0 and
      grafana_server.cert_key | string | length > 0 %}
cert_file = {{ grafana_server.cert_file }}
cert_key = {{ grafana_server.cert_key }}
{% endif %}
{% if grafana_server.socket is defined and
      grafana_server.socket | string | length > 0 %}
socket = {{grafana_server.socket }}
{% endif %}
{% if grafana_server.cdn_url is defined and
      grafana_server.cdn_url | string | length > 0 %}
cdn_url = {{ grafana_server.cdn_url }}
{% endif %}
{% if grafana_server.read_timeout is defined and
      grafana_server.read_timeout | string | length > 0 %}
read_timeout = {{ grafana_server.read_timeout }}
{% endif %}
